@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(57, 55, 70);
    color: rgb(62, 132, 230);
}

.titulo-destaque {  
    color: rgb(49, 17, 74);  
}  

.apresentacao {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-texto {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-texto-titulo {
    font-size: 36px;
    font-family: 'sigmar', sans-serif;
}

.paragrafo {
    font-size: 24px;
    font-family: "Playwrite IT Moderna", cursive;
}

.apresentacao-texto-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.link {
    border: 3px solid #e6953e;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'sigmar', sans-serif;
}

.subtitulo-links {
    font-family: 'sigmar', sans-serif;
    font-weight: 400;
    font-size: 24px;
}